*{
    color: white;
}
.container{
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: auto;
    margin: 2% 0% 2% 0%;
}
.menu-items{
    display: flex;
}
.menu-items li{
    list-style: none;
    padding-right: 5%;
}